.root {
  display: grid;
  grid-template-areas: 'l r';
  grid-template-columns: 75px 1fr;
  grid-template-rows: 1fr;

  height: calc(100vh - 10px);
  width: calc(100vw - 10px);

  margin: 5px;

  background-color: var(--white);

  box-shadow: var(--box-shadow-medium);
  border-radius: 10px;
}

@media only screen and (min-width: 576px) {
  .root {
    grid-template-columns: 100px 1fr;

    height: calc(100vh - 20px);
    width: calc(100vw - 20px);

    margin: 10px;

    border-radius: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .root {
    grid-template-columns: 125px 1fr;

    height: calc(100vh - 30px);
    width: calc(100vw - 30px);

    margin: 15px;

    border-radius: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);

    margin: 20px;
  }
}

.left {
  overflow: auto;

  display: flex;
  grid-area: l;
  justify-content: center;

  padding: 5px 0;

  border-right: 2px solid var(--gray-lighter-third);
}

.right {
  display: flex;
  flex-direction: column;
  grid-area: r;

  padding: 5px;
}

@media only screen and (min-width: 576px) {
  .left {
    padding: 10px 0;
  }

  .right {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 15px 0;
  }

  .right {
    padding: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .left {
    padding: 25px 0;
  }

  .right {
    padding: 25px;
  }
}
