.root-big {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.root-big-word {
  width: fit-content;

  padding: 5px 50px;

  font-family: var(--bungee-shade);
  font-size: 30px;
  line-height: 44px;

  color: var(--black-light);

  background-color: var(--white);

  border-radius: 50px;
  box-shadow: var(--box-shadow-medium);
}

.root-big-word:last-of-type {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .root-big-word {
    padding: 15px 50px;

    font-size: 44px;
    line-height: 54px;
  }
}

@media only screen and (min-width: 1200px) {
  .root-big-word {
    padding: 35px;

    font-size: 74px;
    line-height: 84px;
  }

  .root-big-word:last-of-type {
    margin-top: 35px;
  }
}

.root-small {
  font-family: var(--bungee-shade);
  font-size: 36px;
  line-height: 36px;

  color: var(--black-light);
}

@media only screen and (min-width: 576px) {
  .root-small {
    font-size: 44px;
    line-height: 54px;
  }
}

@media only screen and (min-width: 768px) {
  .root-small {
    font-size: 44px;
    line-height: 54px;
  }
}

@media only screen and (min-width: 1200px) {
  .root-small {
    font-size: 60px;
    line-height: 60px;
  }
}
