.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.note-buttons {
  margin-top: 30px;
}

@media only screen and (min-width: 576px) {
  .note-buttons {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .note-buttons {
    margin-top: 50px;
  }
}

.note-button-wrapper {
  margin-bottom: 25px;
}

.note-button-wrapper:last-child {
  margin-bottom: 0;
}

.note-button {
  padding: 20px;
}

@media only screen and (min-width: 576px) {
  .note-button-wrapper {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .note-button-wrapper {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .note-button-wrapper {
    margin-bottom: 40px;
  }
}

.note-button:hover {
  scale: 1.2;
}

@media only screen and (min-width: 576px) {
  .note-button:hover {
    scale: 1.3;
  }
}

@media only screen and (min-width: 768px) {
  .note-button:hover {
    scale: 1.4;
  }
}

@media only screen and (min-width: 1200px) {
  .note-button:hover {
    scale: 1.5;
  }
}

.note-button span {
  display: none;
}

.note-button-orange {
  background-color: var(--orange);
}

.note-button-yellow {
  background-color: var(--yellow);
}

.note-button-purple {
  background-color: var(--purple);
}

.note-button-blue {
  background-color: var(--blue);
}

.note-button-lime {
  background-color: var(--lime);
}

.note-button-orange:hover {
  background-color: var(--orange-hover);
}

.note-button-yellow:hover {
  background-color: var(--yellow-hover);
}

.note-button-purple:hover {
  background-color: var(--purple-hover);
}

.note-button-blue:hover {
  background-color: var(--blue-hover);
}

.note-button-lime:hover {
  background-color: var(--lime-hover);
}
